<!--                  @* Outra versao*@
@*                        <h3 class="list-group-item-heading">@(Model.Username) / *@
@*                            <small> dia: </small></h3>*@
@**@
@*                        <p class="list-group-item-text">@(Model.Message)</p>*@

-->

<div class="center-block">
    <tr>
        <td><%= come[i].user %></td>
        <td><span class="badge"><%=come[i].rating%><span class="glyphicon glyphicon-star"></span></span></td>
        <!--    <td>Model.Date</td>  -->
        <td id="ratingDescr"> <%=come[i].text%> </td>
    </tr>
</div>