@model Model.User
@{
    ViewBag.Title = "Inbox";
    Layout = "../Shared/_AccountLayout.cshtml";
}

@section headScript {
    <link href="~/Content/css/account.css" rel="stylesheet" />
}


<h2>Inbox</h2>
