@model Model.User
@{
    ViewBag.Title = "LogIn";
}

<link href="~/Content/css/logIn.css" rel="stylesheet"/>

<div class="container">
    <form class="form-signin" role="form" action="@Url.Action("Login")" method="POST"> 
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" autocomplete="off"  />
        @Html.ValidationMessageFor(m=>m.Username)
        <input type="password" class="form-control" name="password" placeholder="Password" required="" autocomplete="off"/>
        @Html.ValidationMessageFor(m=>m.Password)
        <label class="checkbox">
            <input type="checkbox" name="remember" value="false"/>
            Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<!-- /container -->
